@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace, "Times New Roman", Times, serif, Segoe UI, Roboto,
    Oxygen;
  /* background: fixed url("/asset/lucasben.jpg") no-repeat center center;
  background-size: cover;
  background-blend-mode: darken; */

  background: fixed url("/asset/bg.png") no-repeat center;

  /* background-color: rgba(102, 89, 89, 0.808); */
}

@font-face {
  font-family: "Dambuleff";
  src: url("/fonts/Dambuleff-Regular.otf");
}

/* In your css file where you want to use the font */
h1,
h2,
h3 {
  font-family: "Dambuleff";
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer {
  text-align: left;
  display: flex;
  justify-content: center;
  padding: 2.8rem 0;
  color: #fff;
  background-color: #000;
}

.box {
  margin: 5px auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  font-family: sans-serif;
  text-align: center;
  line-height: 1;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  max-width: 50%;
  max-height: 50%;
  padding: 20px 40px;
  box-shadow: 8px 9px 15px 6px rgba(54, 53, 53, 0.2);
}
